:root{
    --special-fontsize:1.2rem;
    --special-width:100%;
    --cursor:pointer;
    --border:0px;
    --border-radius:50%;
    --special-padding:0.5rem;
    --secondary-padding:1.8rem;
    --white-color:white;
    --hover-color:rgb(44, 53, 99);
    --login-color:rgb(14, 64, 83);
}

.container{
    width: 100%;
} 

.login{
    width: 22rem;
    background-color: var(--secondary-color);
    color:var(--white-color);
}
.authLable{
    display:block;
    width: 19rem;
    outline:none;
}
.rememberBtn{
    cursor: var(--cursor);
}
.forget-link{
    text-decoration: none;
    color:red;
}
.loginBtn{
    background-color:var(--login-color);
    width: 15rem;
    color:var(--white-color);
    border:var(--border);
}
.loginBtn:hover{
    background-color:var(--hover-color);
}

.CreateBtn{
    width: 10rem;
    border: var(--border);
}

.auth-contain{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    padding: 1.1rem;
    border: 2px solid black;
}

.loginbtn-createAcount{
    background-color:var(--login-color);
    width: 15rem;
    padding:0.5rem;
    font-size:1rem;
    color:var(--white-color);
    border:var(--border);
}

.backBtn-log{
    background-color:grey;
    color:var(--white-color);
}

.wrong-input{
    color:red;
}