@import "./login.css";

.ConditionBtn{
    margin-left: -3rem;
    cursor: var(--cursor);
}

.logBlue{
    background-color:var(--login-color);
    width: 15rem;
    color:var(--white-color);
    border:var(--border);
}
.logBlue:hover{
    background-color:var(--hover-color);
}
.alreadyAcount{
    border: var(--border);
    background-color:var(--white-color);
    margin-bottom: 0.5rem;
    cursor: var(--cursor);
}