:root {
    --primary-color:rgb(224 242 254);
    --secondary-color:  rgb(2 132 199);
    --white-color:white;
    --logo-color:#e0e0e0;
    --specailColor:rgb(8, 185, 197);
    --shopHoverColor:rgb(39, 111, 194);
    --badge-bg-color: rgb(161, 19, 19);
    --special-font-size:1.2rem;
    --special-padding:0.5rem;
    --border-redius:0.3rem;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
}
button{
    cursor: pointer;
}