@import "/src/Components/main.css";

.footer-container{
    width: 100%;
    height:12vh;
    padding:1rem;
    background-color: var(--secondary-color);
    color:var(--white-color);
    margin-top:1rem;
    text-align:center;
}
.contact-logo a{
    font-size:var(--special-font-size);
    padding:var(--special-padding);
    color:var(--logo-color);
}
.footer-text{
    font-size:var(--special-font-size);
    color:var(--logo-color);
}
